// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";

// Background of the presentation
$backgroundColor: #fff;

// Primary/body text
$mainFont: "Helvetica Neue",Helvetica,Arial,sans-serif;
$mainFontSize: 36px;
$mainColor: #1a1a1a;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: "Helvetica Neue",Helvetica,Arial,sans-serif;
$headingColor: #1a1a1a;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Links and actions
$linkColor: #1a1a1a;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #1a1a1a;
$selectionColor: #fff;

section.has-dark-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal p {
  text-align: left;
}

.reveal .progress {
  height: 2px;
}

.reveal blockquote {
  padding: 0;
  font-style: normal;
  background-color: transparent;
  box-shadow: none;
}

.reveal blockquote p {
  font-size: 1.4em;
  text-align: center;
}

.reveal .progress span {
  background-color: #1a1a1a;
}

.reveal section img.graph {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  margin: 0 0 30px;
}

.reveal .vid-container {
  position: relative;
  height: 0;
  padding-bottom: 62.5%;
}

.reveal .vid-container iframe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.logo {
  margin-bottom: 40px;
}

.redline {
  pointer-events: none;
  max-width: 1550px;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 13;
  opacity: 0.25;
}

.redline__pixel {
  position: absolute;
  height: 2px;
  width: 2px;
  z-index: 13;
  background: red;
}

.a17logo {
  position: absolute;
  z-index: 13;
  left: 61px;
  top: 61px;
  width: 91px;
  height: 57px;
}

.bee {
  position: absolute;
  z-index: 13;
  left: 61px;
  bottom: 61px;
  width: 80px;
  height: 70px;
}

.slideCentered p {
  text-align: center;
}
